ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

html,body{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

.font{
    font-family: 'Comfortaa';
}

.border{
    border: solid 2px black;
    border-radius: 6px / 6px;
}

img{
    width: 100%;
    margin: 20px 0;
    border-radius: 3px 3px;
}

canvas{
    position: relative;
}
/* ----------------------------init */

.filter{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%,rgb(255, 255, 255));
}

#main_graphic{
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#title{
    position: absolute;
    width: 80%;
    left: 0; right: 0;
    top: 8%;
    text-align: center;
    margin: 0 auto;
    font-size: 45pt;
}

#guide{
    position: absolute;
    width: 35%;
    padding: 3px 0;
    left: 0; right: 0;
    top: 80%;
    text-align: center;
    margin: 0 auto;
    
}

#menu{
    overflow: hidden;
    position: relative;
    width: 80%;
    top: 90%;
    margin: 0 auto;
    z-index: 3;
}

#menu li{
    position: relative;
    list-style: none;
    float: left;
    width: 25%;
    height: 50px;
}

.menu_button{
    position: absolute;
    left: 0;right: 0;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    height: 3px;
    width: 85%;
    transition: 300ms;
    pointer-events: none;
}

.selected_button{
    background-color: black;
    width: 90%;
    top: 0;
}

.contents_container{
    position: relative;
    margin: 50px auto;
}
.contents{
    width: 95%;
    margin: 0 auto;
}

.content{
    margin: 10px 0;
    padding: 30px 10px;
    display: none;
    transition: 100ms;
}

.selected_content{
    display: block;
}

.sub_title{
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    font-size: 25pt;
}
